.sst-item-head {text-wrap: nowrap;}
.calculatorWrapper svg.recharts-surface .recharts-rectangle.recharts-tooltip-cursor { fill: transparent; }
input:focus-visible { outline: none; }
.sst-input-content { position: relative; }
#initial-error, #monthly-error { position: absolute; bottom: -12px; font-size: 12px; font-family: 'Poppins'; color: red;  }
#mainHomaTitle {color: yellow}
